$cool-purple: #7A43B6;
$dark-purple: #30033b;

body {
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-image: url(https://images.unsplash.com/photo-1532618500676-2e0cbf7ba8b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1907&q=80);
    background-color: #cccccc; /* Used if the image is unavailable */
}

#hr-design{
    border-top: 1px solid #8c8b8b;
}

#special{
    color: white;
    border: 3px solid white;
    background: $dark-purple;
    
}

.darken-bg{
    background: rgba(0, 0, 0, 0.3);
}
