$cool-purple: #7A43B6;
$dark-purple: #30033b;

.bg-purple {
    background-color: $cool-purple;
}

#main-navbar {
    background-color: $dark-purple;
}

#title-font {
    font-size: 2.5 rem;
    font-weight: bold;
    color: black;
}

.todo-item{
    border-radius: 5px;
    border-style: solid;
    border-color: white;
}

#show-item{
    border: 3px solid $dark-purple;
}

.my-large-btn{
    padding: 15px 32px;
    background-color: $cool-purple;
    text-align: center;
    font-weight: bold;
}