<% if @todo.errors.any? %>
<h2>The following errors prevented the article from getting created</h2>
<ul>
<% @todo.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
<% end %>


